<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard">
    <h2>Add User</h2>

    <form method="POST">
        <input name="username" placeholder="Username" required>
        <input name="password" placeholder="Password" required>

        <select name="role" required>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
            <option value="Admin">Admin</option>
        </select>

        <button type="submit">Add User</button>
    </form>

    <button onclick="location.href='/admin'">Back</button>
</div>

</body>
</html>
